.btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #2979ff;
    color: #fff;
    padding: 15px 25px;
    min-width: 300px;
    border-radius: 10px;
    margin: 30px;

    &-secondary {
        background-color: transparent;
        color: #2979ff;
        border: 1px solid currentColor;
    }
}
